# dataset
python/data

# python
*/__pycache__/
*.pyc

# model weights
*.pt
*.pth
*.ckpt

# dataset
data/

# training output
python/output/checkpoints
python/output_vit/checkpoints
python/output/test
python/output_vit/test

# jupyter
.ipynb_checkpoints/

# system
.DS_Store

# reference
#reference/
